body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* FOR ALL BELOW DIVISIONS */
header, .navigational-bar,
.main-days-outer-container, 
.days-365-txt, 
.main-clock-container, 
.clock-outer-container, 
.chalk-details, .footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.726);
    border-bottom: 0.5px solid #DBE2E3;
    backdrop-filter: blur(5px); 
    z-index: 99;
}
 
/* THE NAV CONTAINER DIV */
.navigational-bar{
    flex-direction: row;
    font-size: x-large;
    font-weight: bold;
}

/* FLAG DIV */
.ghflag-div{
    display: flex;
    align-items: center;
    width: 30px;
}
.ghflag-div img{
    width: 100%;
}

/* UNISFA TXT PARA */
.unisfa-txt1{
    display: none;
}

/* 365 DAYS DIV */
.main-days-outer-container{
    flex-direction: column;
    margin-top: 55px;
    background: url('images/bgk.jpg') center/cover no-repeat;
    height: 400px;
}

/* 365 DAYS TXT [PARA] */
.days-365-txt{
    height: 100px;
    width:  350px;
    background-color: red;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.822);
}

main{
    background-color: #DBE2E3;
}   

/* WRITE UP */
.main-countdown-txt{
    text-align: center;
    font-style: italic;
    padding: 10px;
    background-color: white;
}

/* CLOCK DIV */
.main-clock-container{
    padding: 20px;
    height:  370px;
    transition: 2s;
    background-color: white;
}
.clock-outer-container{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 1px 1px 6px #DBE2E3, -1px -1px 6px #DBE2E3; 
}

/* DATE AND TIME DIV */
.date-time{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.date-time p, .main-countdown-txt p{
    margin: 0;
}

/* TIME , DATE & DAY */
.time{
  font-size: 45px;
  font-weight: bold;
  font-family: monospace;
}
.date{
    font-size: 24px; 
    
}
.day{
    font-size: 30px;
}


/* THE ROTATING CLOCK DIV */
.inner-rotating-div{
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 10px dotted #B89354;
    animation: boat 90s linear infinite;    
}

@keyframes boat {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* CHALK DIV */
.chalk-details{
    flex-flow: row wrap;
    gap: 30px;
    font-size: medium;
}

/* CHALK TITLE */
.ck-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    height: 40px;
    width:  40px;
    padding: 8px;
    border-radius: 50%;
    border: 2.5px solid white;
    background-color: #121D2F;
}


.chalk-one, .chalk-two, .chalk-three{
    padding: 24px;
    border-radius: 10px;
    border: 0.5px solid #DBE2E3; 
}

footer{
    flex-flow: column wrap; 
    text-align: center;
    gap: 5px;
    color: #DBE2E3;
    background-color: black;
    font-size: medium;
}

footer img{ 
    width: 50px;
}

/* MOTIVIATION */
.motivation{
    color: black;
    padding: 15px;
    background-color: #DBE2E3;
    border-top:  0.3px solid rgba(63, 62, 62, 0.212);
}
.title-motivation{
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
}

.dev-div{
    padding: 10px;
}
