body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}


header{
    display: flex;
    justify-content: center;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    border-bottom: 1.5px solid #1D2A35;
    z-index: 999;
}

/* THE TITLE HEADER */
.nav-bar-div{
   display: flex;
   flex-flow:  row wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 10px;
   font-size: xx-large;
   font-weight: bold;
   padding: 10px;
}

.nav-bar-div img{
    width: 80px;
    height: 80px;
}

.nav-bar-div p{
    margin: 0;
}

main{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}

/* THE DATE, TIME & CLOCK DIV  */
.date-time-days-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 15px solid #FD9F0A;
    background-color: #1D2A35;
    box-shadow: 1px 1px 3px white;
    height: 500px;
    width: 500px;
    font-size: xx-large;
}

/* THE DAYS TEXT DIV */
.countdown-days{
    font-size: 75px;
    text-shadow: 1px 3px #FD9F0A;
}

/* TIME DIV */
.runningtime-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.runningtime-div img{
    width: 26px;
    height: 26px;
    /* transform: rotate(35deg); */
    animation: aminite 1s linear infinite;
}
@keyframes aminite{
    0%{
        transform: rotate(45deg);
    }

    100%{
        transform: rotate(-45deg);
    }
}


/* CHALK DETIALS */
.chalk-detail-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 15px;
}

/*DAYS LEFT, SPENT AND CASH DIV  */
.days-div{
    font-size: xx-large;
}

/* CHALKS DIV TEXT */
.ck-txt{
   text-decoration: underline;
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
    color: #9a9c9e;
    border-top: 1px solid #1D2A35;
}

footer img{
    width: 30px;
    height: 25px;
}

@media screen and (max-width: 560px) {
    /* THE DATE, TIME AND CLOCKS */
    .date-time-days-div{
        height: 350px;
        width: 348px;
        font-size:  x-large;
    }

    .countdown-days{
        font-size: 60px;
    }
}

